@media (max-width:1100px) {
    .feature-bride-carousel {
        padding-left: 80px;
    }
    .feature-groom-carousel {
        padding-right: 80px;
    }
}
@media (max-width: 991px) {
    .heading-1{
        font-size: 36px;
        line-height: 40px;
    }
    .heading-2{
        font-size: 32px;
        line-height: 40px;
    }
    .heading-3 {
        font-size: 30px;
        line-height: 39px;
    }
    .heading-4 {
        font-size: 24px;
        line-height: 28px;
    }
    .heading-5 {
        font-size: 20px;
        line-height: 28px;
    }
    .body-lg {
        font-size: 18px;
        line-height: 22px;
    }
    .body-md {
        font-size: 16px;
        line-height: 20px;
    }
    .body-sm {
        font-size: 15px;
        line-height: 18px;
    }
    .form-check-label {
        font-weight: 500;
        font-size: 15px;
    }
    /* Navbar */
    .navbar-brand {
        width: 140px;
    }
    
    /* Banner Section */
    .banner-section {
        padding-top: 180px;
        height: auto;
        padding-bottom: 10px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 76.45%), url(../images/banner.png);

    }
    .banner-bottom-content {
        margin-bottom: -100px;
    }
    .banner-card {
        padding: 16px 10px 20px 10px;
    }
    /* Feature Section */
    .feature-section {
        padding-top: 150px;
    }    
    .card-icon img {
        width: 60px;
    }
    .feature-card {
        background-color: #ffffff;
        padding: 34px 28px;
    }
    /* Advertisement Section */
    .advertisement-section {
        padding: 80px 0;
    }
    /* Suggestion Section */
    .suggestion-content {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .navigation-slider .navigation-img {
        max-width: 200px;
        height: 300px;
    }
    .navigation-slider .swiper-slide {
        max-height: 400px;
    }
    /* feature-bride-section */
    .feature-bride-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .feature-bride-carousel {
        padding: 40px 0 0px 70px;
    }
    /* feature-groom-section */
    .feature-groom-section {
        padding-top: 0;
        padding-bottom: 80px;
    }
    /* product section */
    .product-section {
        padding: 80px 0;
    }
    .product-block {
        padding-left: 50px;
    }
    .product-left-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .product-right-content img {
        width: 400px;
        margin-left: auto;
    }
    .ask-section-row {
        justify-content: center;
    }
    .ask-question-right-content,
    .ask-question-left-content {
        margin-left: 0;
        margin-right: 0;
    }
    .ask-question-section {
        padding-bottom: 60px;
    }
    .ask-section-accordion .accordion-button::after, .ask-section-accordion .accordion-button:not(.collapsed)::after {
        margin-left: auto;
    }
    .footer-logo {
        max-width: 160px;
    }
}

@media (max-width: 767px) {
    .heading-1{
        font-size: 34px;
        line-height: 38px;
    }
    .heading-2{
        font-size: 30px;
        line-height: 36px;
    }
    .heading-3 {
        font-size: 28px;
        line-height: 36px;
    }
    .heading-4 {
        font-size: 22px;
        line-height: 26px;
    }
    .heading-5 {
        font-size: 18px;
        line-height: 26px;
    }
    .body-lg {
        font-size: 16px;
        line-height: 20px;
    }
    .body-md {
        font-size: 15px;
        line-height: 20px;
    }
    .body-sm {
        font-size: 14px;
        line-height: 18px;
    }
    /* Buttons */
    .btn-instagram {
        padding: 8px 20px 8px 20px;
        font-size: 12px;
        font-weight: 500;
    }
    .btn-link {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: .2px;
    }
    /* Navbar */
    .navbar-brand {
        width: 120px;
    }
    /* banner section */
    .banner-card {
        padding: 12px;
    }
    /* Suggestion Section */
    .navigation-slider.swiper {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .navigation-slider .navigation-img {
        max-width: 300px;
        height: 450px;
    }
    .navigation-slider .swiper-slide {
        max-height: 482px;
    }
    /* Carousel */
    .nav.nav-pills {
        gap: 18px;
        justify-content: center;
    }
    .filter-box {
        padding: 15px 20px 15px 20px;
    }
    .filter-out-content .age-block .input-group .custom-select {
        max-width: none;
    }
    /* .form-control-block .line-space {
        width: 100%;
    } */
    .filter-country-block .form-control-block .custom-select {
        max-width: 100%;
    }
    .form-check-input[type=radio] {
        width: 14px;
        height: 14px;
        margin-left: -22px;
        margin-top: 7px;
    }
    /* Product section */
    /* .product-section {
        padding: 50px 0;
    } */
    .product-block {
        /* padding-top: 50px; */
        padding-left: 60px;
    }
    .product-button {
        gap: 15px;
        padding-bottom: 20px;
    }
    .product-button img {
        max-width: 150px;
        width: 100%;
    }
    .product-block .product-paragraph {
        max-width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}


@media (max-width: 575px) {
    .heading-1{
        font-size: 32px;
        line-height: 36px;
        font-weight: 700;
    }
    .heading-2{
        font-size: 28px;
        line-height: 34px;
    }
    .heading-3 {
        font-size: 26px;
        line-height: 34px;
    }
    .heading-4 {
        font-size: 20px;
        line-height: 24px;
    }
    .heading-5 {
        font-size: 17px;
        line-height: 24px;
    }
    .body-lg {
        font-size: 16px;
        line-height: 18px;
    }
    .body-md {
        font-size: 15px;
        line-height: 18px;
    }
    .body-sm {
        line-height: 16px;
    }
    .btn-instagram {
        padding: 10px 20px 10px 20px;
        font-size: 14px;
        font-weight: 500;
    }
    .btn-link {
        font-size: 14px;
    }
     /* Navbar */
     .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
    }
     .navbar-brand {
        width: 100px;
    }
    .toggle span, .toggle.collapsed span {
        position: absolute;
        width: 22px !important;
        height: 2px;
    }  
    .form-check-label {
        font-size: 14px;
    }
    .toggle span:nth-child(2) {
        transform: translateY(-6px);
    }
    .toggle span:nth-child(3) {
        transform: translateY(6px);
    }
    .section-title {
        margin-bottom: 30px;
    }
    /* Banner */
    .banner-section {
        padding-top: 80px;
    }
    .banner-card-block {
        flex-wrap: wrap;
    }
    .banner-card {
        flex: 40%;
        border-radius: 20px;
    }
    .banner-card::after {
        display: none;
    }
    .banner-bottom-content {
        margin-bottom: 20px;
    }
    .form-control, .select-items div, .select-selected {
        font-size: 13px;
    }
    .form-control, .select-items div, .select-selected {
        padding: 6px 34px 6px 10px;
    }
    /* Feature Section */
    .feature-section {
        padding-top: 50px;
    }
    .feature-section-content {
        padding: 20px;
    }
    .feature-card {
        background-color: #ffffff;
        padding: 26px 24px;
    }
    .feature-card .card-icon {
        margin-bottom: 20px;
    }
    .feature-card .body-sm {
        margin-top: 12px;
        margin-bottom: 20px;
    }
    /* Suggestion Section */
    .navigation-slider {
        margin: 50px 0 0 0;
    }
    .navigation-slider.swiper {
        max-width: 340px;
    }
    .navigation-slider .swiper-slide {
        max-height: 350px;
    }
    /* advertisement-section */
    .advertisement-section {
        padding: 50px 0;
    }   
    .advertisment-image {
        max-width: 300px;
    } 
    .suggestion-content {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .navigation-slider .navigation-img {
        height: 300px;
    }
    /* Feature Bride Section */
    .feature-bride-card, .feature-groom-card {
        max-width: 100%;
        width: 100%;
    }
    .feature-bride-carousel, .feature-groom-carousel {
        padding: 20px 0 0px 0;
    }
    .feature-bride-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .feature-bride-carousel {
        padding: 0px 20px 0px 20px;
    }
    .feature-bride-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .feature-groom-carousel {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0;
    }
    .feature-groom-carousel .owl-nav,
    .feature-bride-carousel .owl-nav {
        display: flex;
        justify-content: center;
        height: 40px;
        margin-top: 20px;
    }
    /* .feature-groom-carousel.owl-carousel .owl-nav button.owl-next,.feature-groom-carousel.owl-carousel .owl-nav button.owl-prev,
    .feature-bride-carousel.owl-carousel .owl-nav button.owl-next,.feature-bride-carousel.owl-carousel .owl-nav button.owl-prev {
        font-size: 60px;
        color: #fff;
        font-weight: 500;
        height: 40px;
        width: 50px;
        background-color: var(--clr-instagram);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    } */
    .feature-groom-carousel.owl-carousel .owl-nav button.owl-next span,.feature-groom-carousel.owl-carousel .owl-nav button.owl-prev span,
    .feature-bride-carousel.owl-carousel .owl-nav button.owl-next span,.feature-bride-carousel.owl-carousel .owl-nav button.owl-prev span {
        /* margin-top: -16px; */
        display: none;
    }
    .feature-groom-carousel.owl-carousel .owl-nav button.owl-next,.feature-groom-carousel.owl-carousel .owl-nav button.owl-prev,
    .feature-bride-carousel.owl-carousel .owl-nav button.owl-next,.feature-bride-carousel.owl-carousel .owl-nav button.owl-prev {
        background-position: center;
        background-size: 28px;
        background-repeat: no-repeat;
        background-color: var(--clr-instagram);
        height: 40px;
        width: 50px;
        margin: 0 10px;

    }
    .feature-groom-carousel.owl-carousel .owl-nav button.owl-prev,
    .feature-bride-carousel.owl-carousel .owl-nav button.owl-prev{
        background-image: url(../images/left-arrow.png);
    }
    .feature-groom-carousel.owl-carousel .owl-nav button.owl-next,
    .feature-bride-carousel.owl-carousel .owl-nav button.owl-next{
        background-image: url(../images/right-arrow.png);
    }
    .filter-out-content {
        padding: 30px 20px;
    }
    .matrimonial-category {
        padding-top: 20px;
    }
    .matrimonial-category .section-title {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .matrimonial-tab-block .nav.nav-pills {
        gap: 10px;
    }
    .matrimonial-tab-block .nav-link[data-bs-toggle="pill"] {
        padding: 5px;
    }
    .matrimonial-tab-block .caste-tab-item {
        padding: 10px 6px;
        margin-left: 6px;
        margin-right: 6px;
    }
    .form-check-input[type=radio] {
        width: 12px;
        height: 12px;
    }
    .form-check-input[type=radio] + label {
        font-size: 14px;
    }
    .caste-tab-list {
        /* gap: 8px; */
        margin-top: 20px;
    }
    .product-section {
        padding: 50px 0;
    }
    .product-left-content {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .product-block {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .product-button img {
        max-width: 100px;
        width: 100%;
    }
    .product-right-content img {
        width: 300px;
        margin: auto;
    }
    /* Ask Question Section */
    .ask-section-accordion .accordion-button {
        padding: 16px 20px;
    }
    .ask-question-section {
        padding-bottom: 40px;
    }
    .ask-section-accordion .accordion-button::after,
    .ask-section-accordion .accordion-button:not(.collapsed)::after 
    {
        margin-left: 20px;
    }
    /* Footer */
    .footer-top {
        padding: 40px 0;
    }
    .footer-logo {
        width: 130px;
        margin-bottom: 20px;
    }
    .footer-enquiry .footer-paragraph {
        font-size: 15px;
        font-weight: 400;
    }
    .footer-bottom {
        padding: 8px 0;
    }
    .footer-copyrights {
        font-size: 12px;
        line-height: 15px;
    }
    .footer-social-icon {
        height: 28px;
        width: 28px;
        margin-left: 8px;
    }

}

@media (max-width:400px) {
    /* Menu Button */
    .navbar {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    /* Suggestion Section */
    .navigation-slider {
        margin: 20px 0 0 0;
    }
    .navigation-slider.swiper {
        max-width: 300px;
    }
    .navigation-slider .swiper-slide {
        max-height: 250px;
    }
    .navigation-slider .navigation-img {
        height: 250px;
    }
    .ask-section-accordion .accordion-button::after,
    .ask-section-accordion .accordion-button:not(.collapsed)::after 
    {
        margin-left: 10px;
    }
    /* Footer */
    .footer-copyrights {
        font-size: 9px;
    }
}