$colors: (
    primary: (
        400: #E20330,
        800: #fd0d3c, 
    ),
    secondary: (
        100: #f7f6f2,
        200: #e2e2e2,
        300: #4a4a4a,
        800: #121212,
    ),
    light: (
        100: #ffffff,
    ),
    ylw: (
        100: #fecc00,
    ),
    brwn: (
        faded : rgba(226,3,48,0.25),
    )
)